# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore result outputs
# /results/*.png
# /results/*.gif

# Ignore VSCode settings
.vscode/

# Ignore Jupyter checkpoints
.ipynb_checkpoints/
